@media(max-width:768px){


.hero h1{

font-size:40px;

}


.hero h2{

font-size:22px;

}


.tech-grid{

grid-template-columns:repeat(2,1fr);

}


.timeline::before{

left:10px;

}


.timeline-item{

width:100%;
left:0!important;
padding-left:40px;

}



}